<h1>Edit To-Do Item</h1>

<%= render 'form' %>

<button type='button' class='showbtn'><%= link_to 'Show', @todo_item %></button> |
<button type='button' class='backbtn'><%= link_to 'Back', todo_items_path %></button>
